---
layout: homepage
metadesc: The quickest way to get your next web project up and running
title: My Groovy Project
author: David Longley
images:
- image: https://lh3.googleusercontent.com/-z2dk0TjDGYU/WdK9DVqRW8I/AAAAAAAATlU/Lu7-k8raXXAwXdo7RxDIwZuZlK3LxRf9QCLcBGAs/s640-rj-e30-v2/1e.jpg
- image: https://lh3.googleusercontent.com/-DW7JLOFjnmw/WdK9DAmBovI/AAAAAAAATlQ/UcqBpb4JWv41dAblxaY6ZNeQKYYyIb2lgCLcBGAs/s640-rj-e30-v2/1d.jpg
- image: https://lh3.googleusercontent.com/-M5wsYb1jCvU/WdK9Ch8LaWI/AAAAAAAATlE/Nez7MG3C7o49dJX2QCb_3zsh1RBHNGkdACLcBGAs/s640-rj-e30-v2/1a.jpg
- image: https://lh3.googleusercontent.com/-jbjtHUWXn-E/WdK9CwroXoI/AAAAAAAATlI/7MAxW1WPGcMvsf5cHYnkMfkQcMQkvKarwCLcBGAs/s640-rj-e30-v2/1c.jpg
- image: https://lh3.googleusercontent.com/-t3pkmtzHswE/WdK9DY2Us2I/AAAAAAAATlY/AEEty2Vy0FEtGVnXnEWmkXPpPknOwJ4_ACLcBGAs/s640-rj-e30-v2/3a.jpg
- image: https://lh3.googleusercontent.com/-FmwjzC2aVdk/WdK9DuybcOI/AAAAAAAATlc/hZ3_0jI2YnAnbgclsEScF_Ga2vgc1O6ogCLcBGAs/s640-rj-e30-v2/3b.jpg

---

<body id="page-top">
      <!-- navigation -->
    {% include main-nav.html format="homepage"%}
    {% include masthead.html %}
      
<section class="" id="about">
<div>
        <div class="container">
            <div class="jumbotron d-inline-block editable">
                <h1>Optimised Websites and Internet Marketing </h1>
                <h1 style="font-size:24px;">Affordable Solutions for Entrepreneurs, Marketers and Small Business Owners</h1>
                <p>Too many people blow their precious budget on unecessary 'Design' only to discover, too late, that the money would have been better spent to achieve tangible results that help to grow their business.</p>
                <p>I work with you to ensure that you get what you need to move forward towards growth and profit. Everyone is limited by budget but not everone spends that budget wisely. Below you will see some common reasons people come to work with me.</p>
                <p>So many businesses like yours are not reaching their potential because of a lack of knowledge. My mission is to give you the knowledge to manage your Internet Marketing or manage someone to do it for you.</p>
                <p>If you are just starting out it is crucial to keep costs to a minimum. Take a look at my solution packages to see just how much you can get without breaking the bank.</p>
                <p><a class="btn btn-primary cc-active" role="button" href="#">Learn more</a></p>
            </div>
        </div>

<div class="container">
            <div class="row projects">
                <div class="col-sm-6 col-lg-6 col-xl-6 offset-lg-0 item" style="background-color:#ed2893;padding-top:15px;padding-right:34px;padding-left:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:32px;">I need a new website</h3>
                    <p class="text-left text-white description editable" style="font-size:18px;">I want a website with the power to work for my business today and will not run out of resources as my business grows.</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">I just started a new business and need a website to market our product/service.</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">I have been using a facebook page to market my business but now I need my own place on the internet that I have full control of. I want to market and grow my business without limits.</p>
                </div>
                <div class="col-sm-6 col-lg-6 col-xl-6 item" style="background-color:#ffab40;padding-top:15px;padding-right:35px;padding-left:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:31px;">My website needs a tuneup</h3>
                    <p class="text-left text-white editable" style="font-size:18px;">Our customers tell us that our website loads too slowly. So slow we are probably loosing visitors before they see our offer.</p>
                    <p class="text-left text-white editable" style="font-size:18px;">I need a better way of updating my website </p>
                    <p class="text-left text-white editable" style="font-size:18px;">My website is not secure. I need HTTPS,. I need to sort this out as soon as possible. We are losing visitors and search engine ranking.</p>
                    <p class="text-left text-white editable" style="font-size:18px;">I need a better way of updating my website </p>
                </div>
                <div class="col-sm-6 col-lg-6 col-xl-6 item" style="background-color:#1e6add;padding-top:15px;padding-right:35px;padding-left:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:32px;">My website needs a redesign</h3>
                    <p class="text-left text-white description editable" style="font-size:18px;">My website looks dated.</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">My website looks terrible and is impossible to use on devices with smaller screens.</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">My website looks ok but does not generate enquiries I don't even know if it gets any visitors. </p>
                    <p class="text-left text-white description editable" style="font-size:18px;">My website attracts the wrong kind of enquiries. </p>
                    <p class="text-left text-white description editable" style="font-size:18px;">My customers complain that my website is not as useful as it should be.</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">My website does not feature in search engine results </p>
                </div>
                <div class="col-sm-6 col-lg-6 col-xl-6 item" style="background-color:#56aa1c;padding-top:15px;padding-left:35px;padding-right:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:32px;">My website needs additional functionality</h3>
                    <p class="text-left text-white description editable" style="font-size:18px;">I want to collect email addresses and send timely and useful emails to list members. I heard it is the best way to drive traffic to the website. </p>
                    <p class="text-left text-white description editable" style="font-size:18px;">I need a better way of updating my website </p>
                    <p class="text-left text-white description editable" style="font-size:18px;">I want to show my customers a real time list of our products</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">I want real time chat on my website to offer worldwide instant customer support.</p>
                </div>
            </div>
        </div>
    </div>
  </section>   
    {% include services.html %}
    {% include portfolio.html %}
    {% include CTA-download.html %}
    {% include who-we-are.html %} 
    {% include photoform.html %}
    {% include contact.html %}
    {% include footer-dark.html %}
    <!-- include imagebox.html
    <script type="text/javascript" src="https://static.mailerlite.com/data/webforms/597602/a7z7x6.js?v1"></script> -->
   
</body>
