<section id="about">

<div class="container">
            <div class="row projects">
                <div class="col-sm-6 col-lg-6 col-xl-6 offset-lg-0 item" style="background-color:#ed2893;padding-top:15px;padding-right:34px;padding-left:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:32px;">"I need a new website."</h3>
                    <p class="text-left text-white description editable" style="font-size:18px;">"I want a website with the power to work for my business today and will not run out of resources as my business grows."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"I just started a new business and need a website to market our product/service."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"I have been using a facebook page to market my business but now I need my own place on the internet that I have full control of. I want to market and grow my business without limits."</p>
                </div>
                <div class="col-sm-6 col-lg-6 col-xl-6 item" style="background-color:#ffab40;padding-top:15px;padding-right:35px;padding-left:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:31px;">"My website needs a tuneup."</h3>
                    <p class="text-left text-white editable" style="font-size:18px;">"Our customers tell us that our website loads too slowly. So slow we are probably loosing visitors before they see our offer."</p>
                    <p class="text-left text-white editable" style="font-size:18px;">"I need a better way of updating my website."</p>
                    <p class="text-left text-white editable" style="font-size:18px;">"My website is not secure. It is not HTTPS. I need to sort this out as soon as possible. We are losing visitors and search engine ranking."</p>
                    <p class="text-left text-white editable" style="font-size:18px;">"I need a better way of updating my website."</p>
                </div>
                <div class="col-sm-6 col-lg-6 col-xl-6 item" style="background-color:#1e6add;padding-top:15px;padding-right:35px;padding-left:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:32px;">"My website needs a redesign."</h3>
                    <p class="text-left text-white description editable" style="font-size:18px;">"My website looks dated."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"My website looks terrible and is impossible to use on devices with smaller screens."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"My website looks OK but doesn't generate enquiries. I don't even know if it gets any visitors."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"My website attracts the wrong kind of enquiries."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"My customers complain that my website is not as useful as it should/could be."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"My website does not feature in search engine results."</p>
                </div>
                <div class="col-sm-6 col-lg-6 col-xl-6 item" style="background-color:#56aa1c;padding-top:15px;padding-left:35px;padding-right:35px;padding-bottom:35px;">
                    <h3 class="text-left text-white name editable" style="font-size:32px;">"My website needs additional functionality."</h3>
                    <p class="text-left text-white description editable" style="font-size:18px;">"I want to collect email addresses and send timely and useful emails to list members. I heard it is the best way to drive traffic to the website."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"I need a better way of updating my website."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"I want to show my customers a real time list of our products."</p>
                    <p class="text-left text-white description editable" style="font-size:18px;">"I want real time chat on my website to offer worldwide instant customer support."</p>
                </div>
            </div>
        </div>
    </div>
  </section> 
