<section class="cover-2 text-left">

<div class="cover-container">
<h1 class="mbr-section-title py-3">
                Optimised Websites for Internet Marketing
</h1>
	<div class="cover-inner container">
		<div class="row justify-center">
			<div class="col-lg-5 offset-lg-2 mb-5 text-center">
				<img style="width: 80%;" class="img-fluid mt-5 mb-5" src="//primertest.github.io/ADAADA/img/touch-screen.svg">
			</div>
			<div class="col-lg-6 mt-5 mb-5 text-center text-lg-left">

            			<h3>Achieve more with your budget</h3>
                		<p>Too many people blow their precious budget on unnecessary 'Design' only to discover, too late, that the money would have been better spent to achieve tangible results that help to grow their business.</p>
                		<h3>Focus on growth</h3>
                		<p>I work with you to ensure that you get what you need to move forward towards growth and profit. Everyone is limited by budget but not everyone spends that budget wisely.</p>
                		<h3>With knowledge comes success</h3>
                		<p>So many businesses like yours are not reaching their potential because of a lack of knowledge. My mission is to give you the knowledge to manage your Internet Marketing or manage someone to do it for you.</p>
                		<h3>An optimised solution</h3>
				<p>If you are just starting out it is crucial to keep costs to a minimum. Take a look at my solution packages to see just how much you can get without breaking the bank.</p> 
			</div>

		</div>
		<h2 class="mbr-section-subtitle py-3 mbr-fonts-style text-center">
                Affordable Solutions for Entrepreneurs, Marketers and SMEs
            	</h2>
	</div>
</div>
</section>
