<section class="cover-2 text-left">
<!--
<div class="cover-container">
<h1 class="mbr-section-title py-3">
                Optimised Websites for Internet Marketing
</h1>
	<div class="cover-inner container">
		<div class="row justify-center">
			<div class="col-lg-5 offset-lg-2 mb-5 text-center">
				<img class="img-fluid mt-5 mb-5 cover-image" src="//primertest.github.io/ADAADA/img/touch-screen.svg" />
			</div>
			<div class="col-lg-6 mt-5 mb-5 text-center text-lg-left">

            			<h3 class="editable">Achieve more with your budget</h3>
                		<p class="editable">Too many people blow their precious budget on unnecessary 'Design' and later discover, too late, that the money would have been better spent to achieve tangible results that help to grow their business.</p>
                		<h3 class="editable">Focus on growth</h3>
                		<p class="editable">I work with you to ensure that you get what you need to move forward towards growth and profit. Everyone is limited by budget but not everyone spends that budget wisely.</p>
                		<h3 class="editable">With knowledge comes success</h3>
                		<p class="editable">So many businesses like yours are not reaching their potential because of a lack of knowledge. My mission is to give you the knowledge to manage your Internet Marketing or manage someone to do it for you.</p>
                		<h3 class="editable">An optimised solution</h3>
				        <p class="editable">If you are just starting out it is crucial to keep costs to a minimum and put your effort into building an asset for your organisation. Take a look at my solution packages to see just how much you can get without breaking the bank.</p> 
			</div>

		</div>
		<h2 class="mbr-section-subtitle py-3 mbr-fonts-style text-center editable">
                Affordable Solutions for Entrepreneurs, Marketers and SMEs
            	</h2>
	</div>
</div>
-->
<div class="cover-container">
<h1 class="mbr-section-title py-3 class=" editable"">Optimise your website</h1>
<h2 class="editable">Grow Profit and Market Share</h2>
<h3 class="editable">Your website could be doing much more for your business</h3>
	<div class="cover-inner container">
		<div class="row justify-center">

			<div class="col-lg-12 mt-5 mb-5 text-center text-lg-left">

            			<h3 class="editable">Achieve more with your budget</h3>
<p class="editable">If your website isn’t bringing in the leads or revenue you hoped for and you are not dominating your market niche, then it’s time to take stock. A poorly performing website could be doing damage to your reputation as well as being a drain on resources. It doesn’t have to be this way.</p>
<p class="editable">By Identifying Problems and developing a strategy we can help you improve outcomes.</p>
<p class="editable">Where should you start? Is it your website setup, is it your offer, is it a lack of traffic? We can work with you to answer these questions and help you prepare a strategy for moving forward. Identify which numbers matter and what you need to to do to move them in the right direction. See more clearly where best to focus your marketing budget for maximum return on investment (ROI).</p>
<p class="editable">For every minute that you leave problems unfixed you are loosing out to your competitors. Fixing problems and improving conversion will move you closer to dominating your niche in the marketplace. Don’t let your competitors get ahead of you. Be a first mover, take action today call us on 0114-386 3441 or email toopytoopy@dumdum.com. Get started with a review of your website. It’s surprising how a few simple fixes can quickly bring measurable results and an impetus to invest more in your digital marketing. </p> 
			</div>

		</div>
		<h2 class="mbr-section-subtitle py-3 mbr-fonts-style text-center editable">
                Affordable Solutions for Entrepreneurs, Marketers and SMEs
            	</h2>
	</div>


</div></section>
