<section id="ethos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading editable">How do I respond when you contact me for help?</h2>
          <p class="editable">To avoid blowing your budget on the wrong solution I need to get to know about the goals you have in mind.</p>
<ul class="editable">
<li>What is your business?</li> 
<li>What are you trying to achieve? Get a website. No not do ? achieve?</li>
<li>Who is your audience? Who are your audiences?</li>
<li>Where do they hang out online?</li>
<li>What triggers their need for your service?</li>
<li>Do people know that your service/product is actually a thing?</li>
</ul>

<p class="editable">Normally people who approach me are keen to get results as soon as a possible as are your potential customers, the people searching on the internet to find answers and solutions.</p>

<p class="editable">Usually my first job is to slow things down so that we can analyse the problem and come up with a solution that works and you can afford. </p>

<p class="editable">For now that might be a simple one page website with a form to collect email addresses and a list of tasks to start driving traffic and measure results. Websites are not something that you ever finish. They can always be improved. Your audience is usually the driver of this change.</p>

<p class="editable">The truth is until you launch and start analysing the traffic you really are stumbling around in the dark. 
You may quickly discover that the audience you thought was there is not. But, you may discover an even bigger audience for a related but different product/service that you can profit from. </p>

<p class="editable">When you engage with your audience they will often show you the way. Unless you had bucket loads of cash this approach to marketing was unthinkable. Now with the cloud and available tools you can start for pennies.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="service-box">
            <!--<i class="fa fa-4x fa-diamond text-primary sr-icons"></i> -->
            <h3 class="editable">"I need a new website that looks professional and functions without problems."</h3>
            <p class=" editable">"I want to let the world know what I do and where I do it but, I don't know where to start."</p>
            <p class=" editable">"I want a website that will not run out of resources as my business grows."</p>
            <p class=" editable">"I want a website that will attract people who could benefit from my solutions."</p>
            <p class=" editable">"I want to use a website for Inbound Marketing. I will need a blog and email marketing."</p>
            <p class=" editable">"I have been using a facebook page to market my business but now I need my own place on the internet where I have full control. I don't want to be limited by others in how I run and grow my business."</p>
              
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="service-box">
            <!--<i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i> -->
            <h3 class="editable">"My website needs a redesign."</h3>
            <p class=" editable">"My website looks dated."</p>
            <p class=" editable">"My website looks terrible and is impossible to use on devices with smaller screens."</p>
            <p class=" editable">"My website looks OK but doesn't generate enquiries. I don't even know if it gets any visitors."</p>
            <p class=" editable">"My website attracts the wrong kind of enquiries."</p>
            <p class=" editable">"My customers complain that my website is not as useful as it should/could be."</p>
            <p class=" editable">"My website does not feature in search engine results."</p>
          </div>
        </div>
       </div>     

      <div class="row">     
        <div class="col-lg-6 col-md-6">
          <div class="service-box">
            <!-- <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i> -->
            <h3 class="editable">"My website needs a tuneup."</h3>
            <p class=" editable">"Our customers tell us that our website loads too slowly. So slow we are probably loosing visitors before they see our offer."</p>
            <p class=" editable">"I need a better way of updating my website."</p>
            <p class=" editable">"My website is not secure. It is not HTTPS. I need to sort this out as soon as possible. We are losing visitors and search engine ranking."</p>
            <p class=" editable">"I need a better way of updating my website."</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="service-box">
            <!-- <i class="fa fa-4x fa-heart text-primary sr-icons"></i> -->
            <h3 class="editable">"My website needs additional functionality."</h3>
            <p class=" editable">"I want to collect email addresses and send timely and useful emails to list members. I heard it is the best way to drive traffic to the website."</p>
            <p class=" editable">"I need a better way of updating my website."</p>
            <p class=" editable">"I want to show my customers a real time list of our products."</p>
            <p class=" editable">"I want real time chat on my website to offer worldwide instant customer support."</p>
          </div>
        </div>
      </div>
    </div>
   
  </section>
