<section id="ethos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading  text-center editable">Working with me. What to expect.</h2>
          <p class="editable">To avoid blowing your budget on the wrong solution I need to get to know about the goals you have in mind.</p>
            <ul class="editable">
              <li>What is your business?</li> 
              <li>What are you trying to achieve? Get a website. No not do ? achieve?</li>
              <li>Who is your audience? Who are your audiences?</li>
              <li>Where do they hang out online?</li>
              <li>What triggers their need for your service?</li>
              <li>Do people know that your service/product is actually a thing?</li>
              <li>Do you have the resources to achieve your goal? Can I put some of thos resources in your hands?</li>
            </ul>

          <p class="editable">When people like you approach me they are keen to get results as soon as a possible just like their own potential customers who also want to solve their problems quickly.</p>
            
          <p class="editable">Usually my first job is to slow things down and work with you to analyse the problem and come up with a solution that works for you and your customers. You need to convince potential customers they are in the right place and stop them clicking away. Slow things down. Engage them and build rapport.</p>
            
          <p class="editable">For now that might be a simple one page website with a form to collect email addresses and a plan to drive traffic and measure results. Websites are never perfect nor something that is ever finished. A website can always be improved. Your audience and the data that they provide is usually the driver of this improvement. Wholesale changes at a stroke is not the right approach. Small informed steps will help you move towards your goals.</p>
            
          <p class="editable">The truth is until you launch your website and start analysing the traffic and visitor behaviour you really are stumbling around in the dark. You may quickly discover that the audience you thought was there for your offering is not. This might lead you to change your offer for the existing audience or educate and build an audience for your current offer.</p>
            
          <p class="editable">When you engage with your audience they will show you the way to a more profitable future. Just a few short years ago this approach to marketing was unthinkable unless you had bucket loads of cash. Now in the age of the cloud and readily available tools and a sensible plan you can start for pennies.</p>
        </div>
      </div>
    </div>

   
  </section>
