<section id="ethos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading  text-center editable">Working with me. What to expect.</h2>
          <p class="editable">To avoid blowing your budget on the wrong solution I need to get to know about the goals you have in mind.</p>
            <ul class="editable">
              <li>What is your business?</li> 
              <li>What are you trying to achieve? Get a website. No not do ? achieve?</li>
              <li>Who is your audience? Who are your audiences?</li>
              <li>Where do they hang out online?</li>
              <li>What triggers their need for your service?</li>
              <li>Do people know that your service/product is actually a thing?</li>
              <li>Do you have the resources to achieve your goal? Can I put some of thos resources in your hands?</li>
            </ul>

          <p class="editable">Normally people who approach me are keen to get results as soon as a possible just like their potential customers, the people searching on the internet to find answers and solutions.</p>
            
          <p class="editable">Usually my first job is to slow things down so that we can analyse the problem and come up with a solution that works and you can afford. </p>
            
          <p class="editable">For now that might be a simple one page website with a form to collect email addresses and a list of tasks to start driving traffic and measure results. Websites are not something that you ever finish. They can always be improved. Your audience is usually the driver of this change.</p>
            
          <p class="editable">The truth is until you launch and start analysing the traffic you really are stumbling around in the dark. 
            You may quickly discover that the audience you thought was there is not. But, you may discover an even bigger audience for a related but different product/service that you can profit from. </p>
            
          <p class="editable">When you engage with your audience they will often show you the way. Unless you had bucket loads of cash this approach to marketing was unthinkable. Now with the cloud and available tools you can start for pennies.</p>
        </div>
      </div>
    </div>

   
  </section>
