<section id="pricing">

        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-TCbtdf8TT5s/WXj8ugLFuSI/AAAAAAAATBU/sf3lJvN9maob0PCtaJtYbMvm9h775HYcgCL0BGAs/s200-e30/seo.jpg" />
                        <h3 class="name editable">Search Ready</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-J_frKC7E90w/WXiGfesgwmI/AAAAAAAAS5o/HDqpWXgpyqo-IrS0Qo1vaAnR2EmDkGDewCL0BGAs/s200-e30/pagespeed.png" />
                        <h3 class="name editable">Designed For Fast Load Times</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-GQ1sHiiYySQ/WXj96mEJO5I/AAAAAAAATB8/Uo3s7NYiAf08GUvp0G8Sxv3Kk8z9iFcCQCL0BGAs/s200-e30/responsive.jpg" />
                        <h3 class="name editable">Responsive Design</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-B-efnviBy5w/WXiXKuDpMmI/AAAAAAAAS60/Z2uVZnUJeOME68fGBcqskoN2P6LjxFvmACL0BGAs/s200-e30/cms.jpg" />
                        <h3 class="name editable">Easy Content Management</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-cJsS32_D9QM/WXsfraT8z5I/AAAAAAAATFg/Qj1uOGCFxvAtsILvaUk30w3q0JLCc5wUgCL0BGAs/s200-e30/buildanddeploy.jpg" />
                        <h3 class="name editable">One Click Deploy</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-o3QOUgar4WY/WXtTaDGYXHI/AAAAAAAATI0/3_FNQfMzzgI9ruETv7uaIbfo_i3VEUImwCL0BGAs/s200-e30/hosting.jpg" />
                        <h3 class="name editable">Multi Data Centre Hosting</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-6WBckPg71DQ/WXiXhRgM0YI/AAAAAAAAS7I/H71oyXggbwAGV4BuitqLHmGOSGmLdCwGQCL0BGAs/s200-e30/widecogs.jpg" />
                        <h3 class="name editable">Modular System</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-YLHYkFonk70/WXj8XHAKZkI/AAAAAAAATBE/sNDNKFfT5TYqE7kRCtNc48v8IeorEkg3QCL0BGAs/s200-e30/repo.jpg" />
                        <h3 class="name editable">Automatic Backups</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-thumbnail center-block" src="https://lh3.googleusercontent.com/-M8YIFABJGSY/WXsoRSy9s2I/AAAAAAAATHU/j4TdMa4VNLUlWUezQ0v75D8bVcdHAZkRwCL0BGAs/s200-e30/addons.jpg" />
                        <h3 class="name editable">Easily Add Functionality</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>                
            </div>
        </div>

<div class="container">
<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2">
							<li class="price-heading">
								<div class="align-left">
									<strong>Free</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>10</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2">
							<li class="price-heading">
								<div class="align-left">
									<strong>Bsic</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>50</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2 active">
							<li class="price-heading">
								<div class="align-left">
									<strong>Advanced</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>80</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2">
							<li class="price-heading">
								<div class="align-left">
									<strong>Standard</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>90</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
				</div>
		</div>
</section>