<section id="pricing">

        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="ion-ios-location-outline icon"></i>
                        <h3 class="name editable">Fast Reliable Hosting</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="ion-ios-clock-outline icon"></i>
                        <h3 class="name editable">Easy Content Management</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="ion-android-options icon"></i>
                        <h3 class="name editable">SEO Ready</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="ion-leaf icon"></i>
                        <h3 class="name editable">Organic </h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="fa fa-rocket icon"></i>
                        <h3 class="name editable">Fast </h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="ion-android-phone-portrait icon"></i>
                        <h3 class="name editable">Mobile-first</h3>
                        <p class="description editable">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
            </div>
        </div>

<div class="container">
<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2">
							<li class="price-heading">
								<div class="align-left">
									<strong>Free</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>10</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2">
							<li class="price-heading">
								<div class="align-left">
									<strong>Bsic</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>50</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2 active">
							<li class="price-heading">
								<div class="align-left">
									<strong>Advanced</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>80</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<!-- Price list6 start here -->
						<ul class="list-unstyled price-list6 price2">
							<li class="price-heading">
								<div class="align-left">
									<strong>Standard</strong>
									<span class="txt">For Professinal User</span>
								</div>
								<div class="align-right">
									<strong class="price"><sup>$</sup>90</strong>
									<span class="txt"> Per Month </span>
								</div>
							</li>
							<li><i class="fa fa-check"></i> Unlimited Website</li>
							<li><i class="fa fa-check"></i> Unlimited Users</li>
							<li><i class="fa fa-check"></i> 100 GB Bandwidth</li>
							<li><i class="fa fa-check"></i> Highest Speed</li>
							<li><i class="fa fa-times"></i> <del>10 GB Storage</del></li>
							<li><i class="fa fa-times"></i> <del>24x7 Great Support</del></li>
							<li class="btns text-center"><a href="#" class="price-btn">Download</a></li>
						</ul>
						<!-- Price list6 end here -->
					</div>
				</div>
		</div>
</section>