<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading editable">Below are some common reasons people come to work with me.</h2>
          <hr class="primary" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
            <h3 class="editable">"I need a new website."</h3>
            <p class="text-muted editable">"I want a website with the power to work for my business today and will not run out of resources as my business grows."</p>
            <p class="text-muted editable">"I just started a new business and need a website to market our product/service."</p>
            <p class="text-muted editable">"I have been using a facebook page to market my business but now I need my own place on the internet that I have full control of. I want to market and grow my business without limits."</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
            <h3 class="editable">"My website needs a redesign."</h3>
            <p class="text-muted editable">"My website looks dated."</p>
            <p class="text-muted editable">"My website looks terrible and is impossible to use on devices with smaller screens."</p>
            <p class="text-muted editable">"My website looks OK but doesn't generate enquiries. I don't even know if it gets any visitors."</p>
            <p class="text-muted editable">"My website attracts the wrong kind of enquiries."</p>
            <p class="text-muted editable">"My customers complain that my website is not as useful as it should/could be."</p>
            <p class="text-muted editable">"My website does not feature in search engine results."</p>
          </div>
        </div>
       </div>     

      <div class="row">     
        <div class="col-lg-6 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
            <h3 class="editable">"My website needs a tuneup."</h3>
            <p class="text-muted editable">"Our customers tell us that our website loads too slowly. So slow we are probably loosing visitors before they see our offer."</p>
            <p class="text-muted editable">"I need a better way of updating my website."</p>
            <p class="text-muted editable">"My website is not secure. It is not HTTPS. I need to sort this out as soon as possible. We are losing visitors and search engine ranking."</p>
            <p class="text-muted editable">"I need a better way of updating my website."></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
            <h3 class="editable">"My website needs additional functionality."</h3>
            <p class="text-muted editable">"I want to collect email addresses and send timely and useful emails to list members. I heard it is the best way to drive traffic to the website."</p>
            <p class="text-muted editable">"I need a better way of updating my website."</p>
            <p class="text-muted editable">"I want to show my customers a real time list of our products."</p>
            <p class="text-muted editable">"I want real time chat on my website to offer worldwide instant customer support."</p>
          </div>
        </div>
      </div>
    </div>
   </div>
  </section>
