<section class="cover-2 text-left">
			<nav class="navbar navbar-toggleable-sm navbar-custom navbar-inverse">
				<div class="container">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="#">Startup UI Kit</a>
					<div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler">
						<ul class="navbar-nav mt-2 mt-md-0 justify-content-end">
							<li class="nav-item active">
								<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Our Work</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-success pill-btn" href="#">Buy Now</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="cover-container">
				<div class="cover-inner container">
						<div class="row justify-center">
							<div class="col-lg-5 mt-5 mb-5 text-center text-lg-left">
								<h1 class="jumbotron-heading">Medialoot Startup UI Kit</h1>
								<p class="lead">A collection of coded HTML and CSS elements to help your build your startup website. Clean design, fully responsive and based on Bootstrap 4.</p>
								<p>
								<a href="#" class="btn btn-outline-success btn-lg mb-2 mr-2 ml-2 pill-btn">Buy Now</a>
								<a href="#" class="btn link-white mb-2 ml-2 ml-2 pill-btn">Find out more</a>
							</p>
						</div>
						<div class="col-lg-5 offset-lg-2 mt-5 mb-5 text-center">
							<img class="img-fluid mt-5 mb-5" src="//primertest.github.io/ADAADA/img/touch-screen.svg">
						</div>
					</div>
				</div>
			</div>
		</section>
