
  .cover-2 {
  background: #5c91c1;
    background-image: url(https://lh3.googleusercontent.com/-XfK6rDSzoLg/WXi6Fr1VL5I/AAAAAAAAS-k/rG1-Kn8jsbwSciq_vBe0xn4UGaDxENr8wCJoC/s1600-e30/1.jpg);
  background-size: cover;
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }
  .cover-2 p.lead {
    margin: 2rem auto;
    color: rgba(255, 255, 255, 0.75); }
  .cover-2 .cover-container {
    display: table;
    height: 100%;
    min-height: 44rem;
    margin: 0 auto; }
.cover-2 h1{
  font-size: 3.5em;
  margin-top: 1em;
  padding: 40px;
  text-shadow: 3px 3px #5c6670;
}
@media (max-width:991px) {
.cover-2 h1{
  font-size: 1.5em;
  margin-top: 3em;
  padding: 40px;
  text-shadow: 2px 2px #5c6670;
}
}
.cover-2 h3{
    color: #005cb9;
    text-transform: capitalize;
    text-shadow: 1px 1px #a79d9d;
}
.mbr-section-subtitle.py-3.mbr-fonts-style.display-5 {
    margin-top: -80px;
}
