#ethos {
    background-color: #fff;
    color: #1a6dc0;
 @media (min-width:1200px) {
 .container {
  max-width:800px;
 }
}

  h2{
      font-size: 3rem;
      font-weight: 700;
  }

  h3{
      margin: 0 auto 1.2rem auto;
  }

  p {
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 12px;
    line-height: 1.5;
  }

}