#mywork h2{
    color: white;
    font-size: 3em;
}
#mywork .row{
  background-color: white;
  padding: 24px;
  margin-bottom: 30px;
}
#mywork .row img{
 padding: .5rem;
background-color: #fff;
border: 1px solid #4b2058;
/*border-radius: .25rem;*/
max-width: 100%;
height: auto; 
}
#mywork .tag{
display: inline-block;
font-size:14px; 
padding:4px;
background-color: $theme-secondary; 
color: white;
letter-spacing: 2px;
margin: 1px;
}
